@import "../variables";

button {
  border: none;
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
}

button.active {
  background-color: $activeBackgroundColor;
  color: $activeColor;
}

input {
  outline: none;
  width: 45%;
  padding: 0.3rem 0.8rem;
  border: 1px solid $borderColor;
}

input:active, input:hover {
  border: 1px solid $borderActiveColor;
}

.head-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 2 * $gutter;
  .left-content{
    display: flex;
    gap: 1rem;
    height: $headHeight;
  }
}
